{% extends "ReturnEpiWSBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block banner %}
	{{ parent() }}
{% endblock %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<h1> Groupes Page </h1>
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}