{% extends "ReturnEpiWSBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block content %}
	{% if results["articles"] is empty %}
		<h2>Pas d'articles correspondant à la recherche '{{ searchval }}'</h2>
	{% else %}
		<h2>Résultats d'articles :</h2>
		{% for item in results["articles"] %}
			<div class="rowarticles"
				{% if loop.index is even %} style="background-color:#EEEEFF;"
				{% else %} style="background-color:#EEFFEE;"
				{% endif %}>
				<br />
				<div style="width:25%; position:absolute; margin-left:2%;">
					<img style="width:100%;" src='
					{% if item["image"] %} item["image"]
					{% else %} {{ asset("images/default.gif") }} {% endif %}' />
					{{ item["image"] }} <br /><br />
					<div class="row">
						Publication :<br /> {{ item["parution"] }}<br />
						Concernés : {{ item["ecole"]|raw }}<br />
						Promotion : {{ item["promo"]|raw }}<br />
						Ville : {{ item["ville"]|raw }}<br />
					</div>
				</div>
				<div class="rowarticlescontent" style="margin-left:30%;">
					<a href="{{ path('WS_article', {'id': item['id']}) }}">
					<h1>{{ item["titre"]|raw }}</h1><br /></a>
					<div class="row" ><strong>Preview :</strong><br />
					{{ item["contenu"]|raw }} </div>
				</div>
				<br />
			</div>
		{% endfor %}
	{% endif %}
	{% if results["events"] is empty %}
		<h2>Pas d'events correspondant à la recherche '{{ searchval }}'</h2>
	{% else %}
		<h2>Résultats d'events :</h2>
		{% for item in results["events"] %}
			<div class="rowarticles"
				{% if loop.index is even %} style="background-color:#EEEEFF;"
				{% else %} style="background-color:#EEFFEE;"
				{% endif %}>
				<br />
				<div style="width:16%; position:absolute; margin-left:2%;">
					<img style="width:100%;" src='
					{% if item["image"] %} item["image"]
					{% else %} {{ asset("images/default.gif") }} {% endif %}' />
					{{ item["image"] }} <br /><br />
					<div class="row">
						Publication :<br /> {{ item["parution"] }}<br />
						Concernés : {{ item["ecole"]|raw }}<br />
						Promotion : {{ item["promo"]|raw }}<br />
						Ville : {{ item["ville"]|raw }}<br />
					</div>
				</div>
				<div class="rowarticlescontent" style="margin-left:20%;">
					<a href="{{ path('WS_article', {'id': item['id']}) }}">
					<h1>{{ item["titre"]|raw }}</h1><br /></a>
					<div class="row" ><strong>Preview :</strong><br />
					{{ item["contenu"]|raw }} </div>
				</div>
				<br />
			</div>
		{% endfor %}
	{% endif %}
	{% if results["flashs"] is empty %}
		<h2>Pas de flash news correspondant à la recherche '{{ searchval }}'</h2>
	{% else %}
		<h2>Résultats de flash news :</h2>
		<form method="post" id="sendflash" name="sendflash">
		{% for item in results["flashs"] %}
			<div class="rowarticles"
				{% if loop.index is even %} style="background-color:#EEEEFF;"
				{% else %} style="background-color:#EEFFEE;"
				{% endif %}>
				<br /><br />
					<div class="divflashcontent">{{ item["contenu"]|raw }}</div>
					<a onclick="document.getElementById('difflash').value = 1;
					document.getElementById('flashid').value = {{ item['id'] }};
					document.forms['sendflash'].submit();">+1</a> /
					<a onclick="document.getElementById('difflash').value = -1;
					document.getElementById('flashid').value = {{ item['id'] }};
					document.forms['sendflash'].submit();">-1</a>
					<div style="float:right">{{ flashscores[loop.index - 1]}}</div>
				<br /><br />
			</div>
		{% endfor %}
		<input type="text" value="0" id="difflash" name="difflash" style="display:none;" />
		<input type="text" value="0" id="flashid" name="flashid" style="display:none;" />
		</form><br />
	{% endif %}
{% endblock %}

{% block banner %}
	{{ parent() }}
{% endblock %}

{% block header %}
	{{ parent() }}
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}